<button
  matButton
  type="button"
  class="server-status"
  (click)="openDialog()"
  i18n-aria-label="@@app.footer.statusHelpTriggerAria"
  aria-label="Betriebsstatus öffnen: Statusanzeige und Systemlast-Indikatoren"
  i18n-matTooltip="@@app.footer.statusHelpTriggerTooltip"
  matTooltip="Betriebsstatus und Systemlast-Indikatoren anzeigen"
  matTooltipPosition="above"
>
  <mat-icon
    class="server-status__icon"
    [class.server-status__icon--healthy]="statusColor() === 'green'"
    [class.server-status__icon--busy]="statusColor() === 'yellow'"
    [class.server-status__icon--overloaded]="statusColor() === 'red'"
    [class.server-status__icon--unknown]="statusColor() === 'gray'"
    aria-hidden="true"
    >lens</mat-icon
  >
  <span class="server-status__label app-footer__link-text" i18n="@@app.footer.serverHelpLabel"
    >Betriebsstatus</span
  >
</button>
