<div class="markdown-image-lightbox">
  <button
    mat-flat-button
    type="button"
    class="markdown-image-lightbox__close"
    mat-dialog-close
    i18n-aria-label="@@markdownImageLightbox.closeAria"
    aria-label="Bildansicht schließen"
  >
    <mat-icon aria-hidden="true">close</mat-icon>
    <span i18n="@@markdownImageLightbox.close">Schließen</span>
  </button>

  <div
    #viewport
    class="markdown-image-lightbox__viewport"
    [class.markdown-image-lightbox__viewport--zoomed]="isZoomed()"
    [class.markdown-image-lightbox__viewport--dragging]="isDragging()"
    [style.transform]="viewportTransform()"
    [style.opacity]="viewportOpacity()"
    (click)="onViewportClick($event)"
    (dblclick)="onDoubleClick($event)"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    (pointercancel)="onPointerCancel($event)"
  >
    <figure
      class="markdown-image-lightbox__figure"
      [class.markdown-image-lightbox__figure--zoomed]="isZoomed()"
    >
      <img
        class="markdown-image-lightbox__image"
        [src]="data.src"
        [alt]="data.alt"
        decoding="async"
        draggable="false"
        [style.transform]="imageTransform()"
        [class.markdown-image-lightbox__image--zoomed]="isZoomed()"
        [class.markdown-image-lightbox__image--dragging]="isDragging()"
        (load)="onImageLoad($event)"
      />
      @if (caption(); as caption) {
        <figcaption class="markdown-image-lightbox__caption">{{ caption }}</figcaption>
      }
    </figure>
  </div>
</div>
