<div class="l-page l-section">
  @if (showHeader()) {
    <div class="quiz-page__header">
      <h1 class="quiz-page__title">
        <mat-icon class="quiz-page__title-icon">
          @if (pageTitle() === 'NEW') {
            add_circle
          } @else {
            library_books
          }
        </mat-icon>
        @if (pageTitle() === 'NEW') {
          <span i18n="@@quizPage.newTitle">Quiz erstellen</span>
        } @else {
          <span i18n="@@quizPage.title">Deine Quiz-Sammlung</span>
        }
      </h1>
    </div>
  }

  <router-outlet />
</div>
